# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/booking_api_db?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=booking_api_db
POSTGRES_PORT=5433

# Application Configuration
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# JWT Configuration (for future use)
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=24h
